



/*========== Quizes Section==========*/

.quize-container {
	margin: 2rem 0;
    width: 100%;
}


.quize-wrapper .quize-title {
	padding: 1rem;
	color: #000000;
	width: 100%;
	position: relative;
	font-size: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quize-title img {
    width: 46px;
    margin: 0 1rem;
}

.quize-title h2 {
	position: relative;
}


.item-container {
	width: 80%;
	margin: 1rem auto 0;
	background: #fff;
	border-radius: 1rem;
	padding: 1rem 0;
	border: 1px solid #ddd;
}



.item-wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.item {
    background: #fff;
    margin: .7rem;
    border-radius: .8rem;
    width: 31%;
    box-shadow: -1px 2px 6px #cccccc;
    transition: all .5s;
    text-decoration: none;
    color: #000;
    transition-duration: 0.3s;
}
.item:hover {
  transform: scale(1.05);
}

.item .img {
    width: 100%;
}

.item .img img {
    width: 100%;
    border-radius: .8rem;
    transition: all .5s;
}
/*.item .img img:hover {
	transform: scale(0.98);
}*/

.item .txt {
    padding: .5rem .5rem 1rem;
}

.item .txt p {
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    color: #333;
}